/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
} */

.form-container {
    background-color: #286da1;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
   margin-left: 330px;
}


legend {
    font-size: 1.5em;
    /* margin-bottom: 50px; */
    /* margin-top: 50px; */
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
    /* margin-top: 20px; */
    /* margin: 80px; */
    padding: 7px;
}

.form-group label {
    font-weight: bold;
    width: 100px;
    display:inline-block;
    /* display:inline-flexbox; */
    
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group select,
.form-group textarea {
    padding: 8px;
    /* border:none; */
    width:400px;
    border: rgb(72, 202, 72);
    border: none;
}

.form-group textarea {
    resize: vertical;
    /* resize: horizontal; */
/* resize: both; */
}

.radio-label,
.checkbox-label {
    margin-right: 20px;
    /* margin-left: 50px; */
    /* padding-bottom: 50px; */
}

.button-group {
    text-align:center;
}

.btn {
    padding: 10px 15px 15px 14px;
    /* border: none; */
    border-radius: 4px;
    /* cursor: pointer; */
    /* color: #fff; */
    margin-right: 10px;
    /* margin-bottom: 20px; */
    
}

.btn-save {
    background-color: #007BFF;
}

.btn-reset {
    background-color: #6c757d;
}
